[myisamchk]
# The minimum/maximum lengths of the word to be included in a FULLTEXT index. Default: 4/20
#
# To ensure that myisamchk and the server use the same values for full-text
# parameters, we placed them in both sections.
ft_min_word_len = ${MYSQL_FT_MIN_WORD_LEN}
ft_max_word_len = ${MYSQL_FT_MAX_WORD_LEN}

key_buffer_size = 8M
sort_buffer_size = 8M
